/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
    width: 800px;
    height: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    
}
header nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    
    
}
header nav a{
    /* border: 1px solid yellowgreen; */
    margin-top: 25px;
    padding: 2px;
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.top-content .text-container h2{
    margin-top: 30px
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.box-1{
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: teal;
}
.box-2{
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gold;
}
.box-3{
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: cadetblue;
}
.box-4{
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: coral;
}
.box-5{
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: crimson
}
.box-6{
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: forestgreen;
}
.box-7{
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkorchid;
}
.box-8{
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hotpink;
}
.box-9{
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: indigo;
}
.box-10{
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: dodgerblue;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}
/* about-page main area css */
.container-about-page{
    width: 800px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.page-info{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin: 30px;
    line-height: 1;

}

.container-about-page .page-content{
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.container-about-page .page-content .card{
    width: 48%;
    

}
.container-about-page .page-content h2{
    /* border: 1px solid red; */
    height: 50px;
    padding-top: 25px;
}
.container-about-page .page-content .card.one{
    display: flex;
    flex-direction: column;
    align-content: space-between
    line-height: 1
    padding-top: 5px;
    border-bottom: 1px dashed black;
    
}
.container-about-page .page-content .card.two{
    display: flex;
    flex-direction: column;
    line-height: 1
    padding-top: 5px;
    border-bottom: 1px dashed black;
}
.container-about-page .page-content .card.three{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    line-height: 1;
    margin-top: 20px;
    
}
.container-about-page .page-content .card.four{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    line-height: 1;
    margin-top: 20px;
    
}
.container-about-page button{
    width: 40%;
    height: 45px;
    margin: 30px 0;
    font-size: 15px;
    padding 20px 10px;
    border: 3px solid black;
    border-radius: 10px;

}
.page-cta{
    margin: 30px;
    

}
/* contact page CSS */
.cpf-section{
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    margin: 30px 0;
    height: 750px;
    width: 800px;
    /* margin: 30px; */
}

.form{
    /* border: 1px solid red; */
    display: flex;
    height: 500px;
    justify-content: space-around;
    margin: 30% 0;
    padding: 40px;
}

.contact-info input{
    width: 300px;
    height: 50px;
    margin: 25px;
}
.form .msg-space input{
    width: 200px;
    height: 300px;
    margin: 20px;
}
/* footer section css */
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}